body {
  background-image: url('/assets/images/dakota-corner.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 12rem;
}

.site-title img {
  height: $spacing-unit;
  margin-right: 0.25em;
}

.list-heading {
  color: #777;
  font-weight: bold;
  line-height: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
}

ol, ul {
  list-style: none;
  margin-left: 0;
  list-style-position: inside;

  &.list.list_icon-computer {
    list-style-type: '💻 ';
  }

  &.list.list_icon-brain {
    list-style-type: '🧠 ';
  }
}

// see https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
ul li::before {
  content: "\200B";
}

// Override (weird) rule from Minima theme
li > ul, li > ol {
  margin-bottom: $spacing-unit / 2;
}

@media screen and (max-width: 600px) {
 .site-title {
  padding-right: 0;
 }
}

.no-margin {
  margin: 0;
}

.cols.cols_count2 {
  column-count: 2;
}

.vertical-space_full-screen {
  height: 100vw;
}
