
.site-title img {
  height: $spacing-unit;
  margin-right: 0.25em;
}

.list-heading {
  color: #777;
  font-weight: bold;
  line-height: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
}

ol {
  list-style: none;
  margin-left: 0;
  list-style-position: outside;
}

li > ul, li > ol {
  margin-bottom: $spacing-unit / 2;
}

@media screen and (max-width: 600px) {
 .site-title {
  padding-right: 0;
 }
}
